{% extends 'base.html' %}
{% block title %}Lista de Miçangas{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h2>Miçangas Disponíveis</h2>
    <a href="{% url 'criar' %}" class="btn btn-success">➕ Adicionar</a>
</div>
<hr>

<table class="table table-striped table-bordered shadow-sm">
    <thead class="table-primary">
        <tr>
            <th>Nome</th>
            <th>Cor</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for micanga in object_list %}
        <tr>
            <td>{{ micanga.nome }}</td>
            <td>{{ micanga.cor }}</td>
            <td>R$ {{ micanga.preco }}</td>
            <td>{{ micanga.estoque }}</td>
            <td>
                <a href="{% url 'detalhe' micanga.pk %}" class="btn btn-info btn-sm">Ver</a>
                <a href="{% url 'editar' micanga.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'deletar' micanga.pk %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
